In [12]:
# ライブラリのインポート
import pandas as pd

# 辞書からデータフレーム作成1
dict1 = dict(COL1 = ['N1', 'N2', 'N3', 'N4'], COL2 = ['武田', '北条', '今川', '上杉'], COL3 = ['D1', 'D2', 'D2', 'D3'])
frame1 = pd.DataFrame(data=dict1)

# 索引を指定
frame1.set_index('COL1')

     COL2 COL3
COL1
N1     武田   D1
N2     北条   D2
N3     今川   D2
N4     上杉   D3

In [13]:
# ライブラリのインポート
import pandas as pd

# 辞書からデータフレーム作成2
dict2 = dict(COL3 = ['D1', 'D2', 'D3', 'D4', 'D5'], COL4 = ['管理部', '開発部', '営業部', '資材部', '総務部'])
frame2 = pd.DataFrame(data=dict2)

# 索引を指定
frame2.set_index('COL3')

     COL4
COL3
D1    管理部
D2    開発部
D3    営業部
D4    資材部
D5    総務部

In [14]:
# データフレーム同士を左外部結合して新しいデータフレームを作成
main = pd.merge(frame1, frame2, how='left', on='COL3')

# 索引を指定
main.set_index('COL1')

     COL2 COL3 COL4
COL1
N1     武田   D1  管理部
N2     北条   D2  開発部
N3     今川   D2  開発部
N4     上杉   D3  営業部